html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: right;
  height: 100%;
  width: 100%;
}
#collaborators {
  float: right;
  width: 30px;
  margin-left: 10px;
}
#collaborators > img {
  margin-right: 5px;
  height: 30px;
  padding-bottom: 5px;
  width: 30px;
  border-radius: 3px;
}
#importExport {
  font-family: monospace;
}

.blocklyTreeRow .blocklyTreeIconNone {
  display: none !important;
  /*width: 22px;*/
}

.blocklyToolboxDiv .main-button-container {
  margin: 2px;
}

.blocklyTreeRow .blocklyTreeLabel {
  font-family: sans-serif, "Flaticon";
}
